html,
body  {
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons  {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#sidedrawer  {
  background-color: #fff;
}

a {
  color:#009688
}

a:hover {
  color:initial;
  opacity:0.79;
}

#header, #header a, #footer, #footer a, .sidedrawer-toggle, .sidedrawer-toggle:hover  {
  color: #fff;
}

#sidedrawer strong:hover  {
  background-color: #E0E0E0;
}

#header,
.mui-appbar,
#footer  {
  background-color: #009688;
}
