<!doctype html>

   <meta charset="utf-8">
   <meta name="date-created" value="{% block created %}{% endblock %}" />
   <meta name="date-modified" value="{% block modified %}{% endblock %}" />
   <meta name="author" value="{% block author %}{% endblock %}" />
   <meta name="keywords" value="{% block keywords %}{% endblock %}" />

   <title>{{ this.title }} — know-rmandie</title>

   <meta name="viewport" content="width=device-width, user-scalable=yes">
   <link rel="stylesheet" href="{{ '/static/font-awesome.css'|url }}">
   <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
   <script src="{{ '/static/jquery.js'|url }}"></script>
	<script src="{{ '/static/init.js'|url }}"></script>

<body>
  <header>
    <h1>{{ this.title }}</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/planification', 'Planification'],
          ['/I', 'Indicateurs'],
          ['/urbanisme', 'Urbanisme'],
          ['/ville-durable', 'Ville durable']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div class="page">
    {% block body %}{% endblock %}
  </div>

  <footer>
    {{ this.modified }} - DREAL Normandie
  </footer>
</body>
