<!doctype html>
<html>
{% set root = site.get('/') %}
<head>
   <!-- technical -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- metadata -->
   <title>{{ this.title }} — know-rmandie</title>
   <meta name="date-created" value="{{ this.created }}" />
   <meta name="date-modified" value="{{ this.modified }}" />
   <meta name="author" value="{{ this.author }}" />
   <meta name="keywords" value="{{ this.keywords }}" />
   <!-- styling -->
   <link rel="stylesheet" href="{{ '/static/lib/font-awesome.css'|url }}" />
   <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}" />
   <link rel="stylesheet" href="{{ '/static/css/colors.css'|url }}" />
   {% block stylesheets %}{% endblock %}
   <!-- scripts -->
   <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
   <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
   <script src="{{ '/static/js/init.js'|url }}"></script>
   {% block scripts %}{% endblock %}
</head>

<body class="hide-sidedrawerhide-sidedrawerhide-sidedrawer">
   <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height"><a href="{{ root|url }}">{{ root.title }}</div>

      <ul>
      {% for child in root.children recursive %}
         {% if child.parent._path == root._path %}
            {% if child._path != root._path %}
               {% if child.has_prev() %}</ul>{% endif %}
               {% if this.is_child_of(child) %}
                  <strong class="active"><a href="{{ child|url }}">{{ child.title }}</a></strong>
                  <ul style="display:block">{{ loop(child.children) }}</ul>
               {% else %}
                  <strong><a href="{{ child|url }}">{{ child.title }}</a></strong>
                  <ul style="display:none">{{ loop(child.children) }}</ul>
               {% endif %}
            {% else %}
            {% endif %}
         {% else %}
            <li{% if this._path == child._path %} class="active"{% endif %}>
               <a href="{{ child|url }}">{{ child.title }}</a></li>
            {% if this.is_child_of(child) %}
               <ul>{{ loop(child.children) }}</ul>
            {% endif %}
         {% endif %}
      {% endfor %}
         </ul>
      </ul>
   </div>

   <header id="header" class="header-shadow">
      <table width="100%">
         <tbody>
            <tr class="mui-appbar mui--appbar-height">
               <td>
                  <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                  <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
               </td>
               <td class="mui--text-right">
                  <div id="appbar-project" class="mui--hidden-xs">
                     {% for path, label in bag('navigation').iteritems() %}
                        {% if this.is_child_of(path) %}
                           <mui-btn color="accent" align="right" disabled>{{ label }}</mui-btn>
                        {% else %}
                           <mui-btn color="primary" align="right"><a href="{{ path|url }}">{{ label }}</a></mui-btn>
                        {% endif %}
                     {% endfor %}
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </header>

    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        {% block body %}{% endblock %}
      </div>
    </div>

   <footer id="footer">
      <div class="mui-container-fluid">
        {{ this.modified }} - <a href="http://normandie.developpement-durable.gouv.fr">DREAL Normandie</a> - réalisé sur la base de <a href="https://www.muicss.com">MUI</a>
      </div>
   </footer>

</body>

</html>
