{% extends "layout.html" %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{ '/static/lib/leaflet.css'|url }}">
   <link rel="stylesheet" href="{{ '/static/lib/leaflet-markercluster.css'|url }}">
   <link rel="stylesheet" href="{{ '/static/css/leaflet-knwrmd.css'|url }}">
   <link rel="stylesheet" href="{{ '/static/css/style-cartoVD.css'|url }}">
{% endblock %}
{% block scripts %}
   <script src="{{ '/static/lib/leaflet.js'|url }}"></script>
   <script src="{{ '/static/lib/leaflet-markercluster.js'|url }}"></script>
   <script src="{{ '/static/lib/pgi.js'|url }}"></script>
   <script src="{{ '/static/data/fonds.js'|url }}"></script>
   <script src="./config.js"></script>
   <script src="./pgi_config.js"></script>
   <script src="./init-local.js"></script>
{% endblock %}
{% block body %}
{% endblock %}
{% block special %}
   <div id="map" class="map" style="width:500px;height:500px"></div>
{% endblock %}
